

<div class="container" style="background-color: white;">
    <nav class="navbar fixed-top" style="background-color: white">
        <a class="navbar-brand" [routerLink]="['/home']" >
            <img src="../../../assets/imagens/jupiter.png" height="60" class="d-inline-block align-top" alt="">
        </a>
          <div class="form-inline">
          <button [routerLink]="['/areareservada']"  class="btn btn-dark my-2 my-sm-0" type="button">Area Reservada</button>
        </div>
      </nav>
</div>

<div class="container-banner">
    <div class="contents text-center">
      <h1>Recrutamento</h1>
      <p>Bem-vindo a pagina de recrutamentos da Jupiter. Encontre aqui a melhor vaga para si, e submeta a sua candidatura.
      </p>
    </div>
  </div>