<div class="container home-content">

  <div class="row card" style="padding: 30px">
      <h5 class="card-title">Registar Vaga</h5>

        <div class="col-md-4  card-body">
            <div class="form-group">
              <label for="exampleInputEmail1">Descricao</label>
              <input type="email" class="form-control" id="exampleInputEmail1"
              [(ngModel)]="vagaSalvar.descricao" name="nome"
                placeholder="Informe o seu nome">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Requisitos</label>
              <textarea type="email" class="form-control" id="exampleInputEmail1"
              [(ngModel)]="vagaSalvar.requisitos" name="email"
                placeholder="Informe o seu email"></textarea>
            </div>
            <button type="button" (click)="salvarVaga()" class="btn btn-success" style="float: right">Salvar</button>
          </div>
  </div>
    <div class="lista-vagas">
      <div *ngIf="listaVagas.length > 0" class="row">
        <div *ngFor="let vaga of listaVagas" class="col-md-3" style="margin: 30px">
          <div class="card" style="width: 18rem;">
            <img src="../../../assets/imagens/prog.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{vaga.descricao}}</h5>
              <p class="card-text">{{vaga.requisitos}}</p>
              <button (click)="verVaga(vaga)" class="btn btn-info" style="float: left">Editar</button>
              <button (click)="removerVaga(vaga.id)" class="btn btn-danger" style="float: right">Remover</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>